*{
    margin: 0;
    padding: 0;
}
body{
background-color:rgb(21, 26, 37);
color:white;
}
.box{
background:url("http://127.0.0.1:5500/Home/background.webp");
opacity:0.8;
background-size:cover;
background-position:center;
position:relative;
height:120vh;
width:100%;
object-fit: contain;

 }

.logo{
height:40px;
width:100px;
cursor:pointer;

}

nav{
background-color:rgb(31,31,31);
display:flex;
height: 40px;
}

nav .ul{
background-color:rgb(31,31,31);
color:white;
text-align:center;
width:100%;
align-items:center;
margin-left:400px;
display:flex;

}

nav .ul li{
background-color:rgb(31,31,31);
display:inline-block;
margin:20px 20px;
color:white;
}


nav.sticky{
position:fixed;
top:0;
left:0;
padding:1px 5%;
display:flex;
align-items:center;
}

#a345{
color:rgb(241,245,5);
font-size:34px;
padding-top:289px;
padding-left:30px;

width:500px;
display:flex;

}

.abc{
display:flex;
margin-left:px;
width:300px;

}
.bcd{
margin-top:20px;
margin-left:50px;


padding:30px;
}

.cde{
margin-top:30px;
margin-left:70px;
border:2px dotted white;
border-radius:30px;
padding:30px;

}

<!--
.def
{
margin-top:20px;

margin-left:80px;
}
.efg{
margin-top:20px;
margin-left:80px;
}-->

.slider-frame{
overflow:hidden;
height:200px;
width:1000px;
margin-left:180px;
margin-top:40px;

}


.slider-frame p{
color:yellow;
font-size:24px;

}

@-webkit-keyframes slide_animation{
0%{left:0px;}
10%{left:0px;}
20%{left:1200px;}
30%{left:1200px;}
40%{left:2400px;}
50%{left:2400px;}
60%{left:1200px;}
70%{left:1200px;}
80%{left:0px;}
90%{left:0px;}
100%{left:0px;} 
}


.slider-images{
width:3600px;
height:700px;
margin:0 0 0 -2400px;
position:relative;
-webkit-animation-name:slide_animation;
-webkit-animation-duration:33s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction0:alternate;
-webkit-animation-play-state:running;
border-top:2px solid white;

}

.img-container{
width:1200px;
height:100px;
position:relative;
float:left;
}
.footer{
margin-top:140px;
background-color:rgb(21, 26, 37);
padding:20px;
display:flex;
}
.flogo{
height:200px;
width:200px;
display:flex;
}

 .ful li{

display:flex;
padding:4px;
margin-left:20px;
font-size:15px;
cursor:pointer;
}
.o{
display:flex;

}

.copy{
margin-top:20px;
margin-left:79px;
}

#follow{
height:50px;
width:60px;
cursor:pointer;
padding:10px;	
}

.sad{
font-size:24px;
margin-left:21px;

}
.ul li:hover{

color:yellow;
background-color:red;
border-radius:40px;
}